@import 'mixins.scss';

.invitation {

    &__title {
      @include title();
      margin-bottom: 16px;
      padding-top: 45px;
    }
  
    &__description {
      margin-bottom: 1.5rem;
    }
  
    &__pic img {
      margin-bottom: 1.5rem;
    }
  
    &__calendar {
      font-size: 20px;
    }
  
  }
  
  table {
    width: 250px;
    margin: 0 auto;
  
  }
  
  td {
    padding: 12px;
  }

  .heart {
    width: 45px;
    position: absolute;
    left: -0.9px;
    top: -0.00001px;

    &__td {
      position: relative;
    }
  }