.program {

    &__title {
        @include title();
        margin-bottom: 1rem;
    }

    &__container {
        padding: 16px;
    }

    &__time {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 18px;
    }

    &__text {
        margin-bottom: 1rem;
        font-size: 20px;
    }
}
