.color {
    &__title {
        @include title();
        margin-bottom: 16px;
    }

    &__colors {
        z-index: 10;
        display: flex;
        width: 450px;
        margin: 0 auto;
        justify-content: space-between;
    }


}

.square {
    margin: 16px;

    &__one {
        background: #f8f6ea;
        width: 50px;
        height: 50px;
        margin: 16px;
    }

    &__two {
        background-color: #e8e1cf;
        width: 50px;
        height: 50px;
        margin: 16px;
    }

    &__three {
        background-color: #e4d9c3;
        width: 50px;
        height: 50px;
        margin: 16px;
    }

    &__four {
        background-color: #dcc2a7;
        width: 50px;
        height: 50px;
        margin: 16px;
    }

    &__five {
        background-color: #a98b71;
        width: 50px;
        height: 50px;
        margin: 16px;
    }

    &__six {
        background-color: #a48f7c;
        width: 50px;
        height: 50px;
        margin: 16px;
    }

    &__seven {
        background-color: #839089;
        width: 50px;
        height: 50px;
        margin: 16px;
    }
}

@include tablet {
    .color {
        &__title {
            @include title-tablet();
            margin-bottom: 16px;
        }
    
        &__colors {
            z-index: 10;
            display: flex;
            width: 80%;
            margin: 0 auto;
            justify-content: space-around;
            flex-flow: row wrap;
            align-content: space-around;

        }
    }
    
    .square {
        margin: 16px;
        margin-bottom: 16px;
        
    
        &__one {
            background: #f8f6ea;
            width: 100px;
            height: 100px;

        }
    
        &__two {
            background-color: #e8e1cf;
            width: 100px;
            height: 100px;
        }
    
        &__three {
            background-color: #e4d9c3;
            width: 100px;
            height: 100px;
        }
    
        &__four {
            background-color: #dcc2a7;
            width: 100px;
            height: 100px;
        }
    
        &__five {
            background-color: #a98b71;
            width: 100px;
            height: 100px;
        }
    
        &__six {
            background-color: #a48f7c;
            width: 100px;
            height: 100px;
        }
    
        &__seven {
            background-color: #839089;
            width: 100px;
            height: 100px;
        }
    }
}

@include mobile {
    .color {
        &__title {
            font-size: 3em;
            margin-bottom: 16px;
        }
    
        &__colors {
            z-index: 10;
            display: flex;
            width: 90%;
            margin: 0 auto;
            justify-content: space-around;
            flex-flow: row wrap;
            align-content: space-around;

        }
    }
}