html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-align: center; }

div, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  font-family: 'Sofia Sans', sans-serif; }

.fon {
  background-image: url("/wedding_invitation/assets/193.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh; }

.fon:before {
  content: '';
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.fon-2 {
  background-image: url("/wedding_invitation/assets/4.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%; }

.fon-2:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.image {
  width: 150px; }

.container {
  max-width: 80%;
  margin: 0 auto; }

.container-2 {
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7); }

section {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px; }

@media (max-device-width: 767px) {
  section {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto; } }
@media (max-device-width: 576px) {
  section {
    padding-left: 16px;
    padding-right: 16px; } }
.line {
  transform: rotate(45deg);
  text-align: center;
  width: 150px; }

@media (max-device-width: 576px) {
  .line {
    transform: rotate(45deg);
    text-align: center;
    width: 200px; } }
.names {
  width: 100%;
  height: 100vh;
  vertical-align: middle;
  text-align: center;
  color: white; }
  .names__container {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%); }
  .names__name {
    font-size: 65px;
    border-bottom: 1px solid white;
    font-family: 'Inter', sans-serif !important;
    font-family: 'Playfair', serif !important; }
  .names__date {
    font-size: 50px; }

@media (max-device-width: 767px) {
  .names__container {
    width: 80%; }
  .names__name {
    font-size: 75px;
    border-bottom: 1px solid white; }
  .names__date {
    font-size: 70px; } }
@media (max-device-width: 576px) {
  .names__container {
    width: 80%; }
  .names__name {
    font-size: 100px;
    border-bottom: 1px solid white; }
  .names__date {
    font-size: 80px; } }
.invitation__title {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  font-family: 'Sofia Sans', sans-serif;
  margin-bottom: 16px;
  padding-top: 45px; }
.invitation__description {
  margin-bottom: 1.5rem; }
.invitation__pic img {
  margin-bottom: 1.5rem; }
.invitation__calendar {
  font-size: 20px; }

table {
  width: 250px;
  margin: 0 auto; }

td {
  padding: 12px; }

.heart {
  width: 45px;
  position: absolute;
  left: -0.9px;
  top: -0.00001px; }
  .heart__td {
    position: relative; }

@media (max-device-width: 767px) {
  .invitation__title {
    font-size: 40px;
    margin-bottom: 16px;
    padding-top: 45px; }
  .invitation__description {
    margin-bottom: 1.5rem;
    font-size: 24px; }
  .invitation__pic img {
    margin-bottom: 1.5rem;
    width: 200px; }
  .invitation__calendar {
    font-size: 20px; }

  table {
    width: 60%;
    margin: 0 auto; }

  td {
    padding: 12px;
    font-size: 30px; }

  .heart {
    width: 55px;
    position: absolute;
    left: -0.9px;
    top: -0.00001px; }
    .heart__td {
      position: relative; } }
@media (max-device-width: 576px) {
  .invitation__title {
    font-size: 3em;
    margin-bottom: 16px;
    padding-top: 45px; }
  .invitation__description {
    margin-bottom: 2em;
    font-size: 24px; }
  .invitation__pic img {
    margin-bottom: 1.5rem;
    width: 350px; }
  .invitation__calendar {
    font-size: 3em; }

  table {
    width: 80%;
    margin: 0 auto; }

  td {
    padding: 12px;
    font-size: 30px; }

  .heart {
    width: 65px;
    position: absolute;
    left: 0.25em;
    top: -0.15em; }
    .heart__td {
      position: relative; } }
.place {
  padding: auto 0; }
  .place__title {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
    margin-bottom: 16px; }
  .place__map {
    text-align: center;
    width: 590px;
    height: 430px;
    margin: 0 auto; }
  .place__place {
    font-size: 18px; }

@media (max-device-width: 767px) {
  .place {
    padding: auto 0;
    margin-bottom: 60px; }
    .place__title {
      font-size: 40px;
      margin-bottom: 16px; }
    .place__map {
      text-align: center;
      width: 100%;
      margin: 0 auto; }
    .place__place {
      font-size: 30px;
      margin-bottom: 40px; } }
@media (max-device-width: 576px) {
  .place {
    padding: auto 0;
    margin-bottom: 60px; }
    .place__title {
      font-size: 3em;
      margin-bottom: 16px; }
    .place__map {
      text-align: center;
      width: 100%;
      margin: 0 auto; }
    .place__place {
      font-size: 2em;
      margin-bottom: 40px; } }
.program__title {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  font-family: 'Sofia Sans', sans-serif;
  margin-bottom: 1rem; }
.program__container {
  padding: 16px; }
.program__time {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 18px; }
.program__text {
  margin-bottom: 1rem;
  font-size: 20px; }

@media (max-device-width: 767px) {
  .program__title {
    font-size: 40px;
    margin-bottom: 1rem; }
  .program__time {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 20px; }
  .program__text {
    margin-bottom: 1rem;
    font-size: 30px; }

  .image {
    width: 250px; } }
@media (max-device-width: 576px) {
  .program__title {
    font-size: 3em;
    margin-bottom: 1rem; }
  .program__time {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2em; }
  .program__text {
    margin-bottom: 1rem;
    font-size: 2.5em; }

  .image {
    width: 350px; } }
.color__title {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  font-family: 'Sofia Sans', sans-serif;
  margin-bottom: 16px; }
.color__colors {
  z-index: 10;
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between; }

.square__one {
  background: #f8f6ea;
  width: 50px;
  height: 50px; }
.square__two {
  background-color: #e8e1cf;
  width: 50px;
  height: 50px; }
.square__three {
  background-color: #e4d9c3;
  width: 50px;
  height: 50px; }
.square__four {
  background-color: #dcc2a7;
  width: 50px;
  height: 50px; }
.square__five {
  background-color: #a98b71;
  width: 50px;
  height: 50px; }
.square__six {
  background-color: #a48f7c;
  width: 50px;
  height: 50px; }
.square__seven {
  background-color: #839089;
  width: 50px;
  height: 50px; }

@media (max-device-width: 767px) {
  .color__title {
    font-size: 40px;
    margin-bottom: 16px; }
  .color__colors {
    z-index: 10;
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    flex-flow: row wrap;
    align-content: space-around; }

  .square {
    margin: 16px; }
    .square__one {
      background: #f8f6ea;
      width: 100px;
      height: 100px;
      margin: 16px; }
    .square__two {
      background-color: #e8e1cf;
      width: 100px;
      height: 100px;
      margin: 16px; }
    .square__three {
      background-color: #e4d9c3;
      width: 100px;
      height: 100px;
      margin: 16px; }
    .square__four {
      background-color: #dcc2a7;
      width: 100px;
      height: 100px;
      margin: 16px; }
    .square__five {
      background-color: #a98b71;
      width: 100px;
      height: 100px;
      margin: 16px; }
    .square__six {
      background-color: #a48f7c;
      width: 100px;
      height: 100px;
      margin: 16px; }
    .square__seven {
      background-color: #839089;
      width: 100px;
      height: 100px;
      margin: 16px; } }
@media (max-device-width: 576px) {
  .color__title {
    font-size: 3em;
    margin-bottom: 16px; }
  .color__colors {
    z-index: 10;
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    flex-flow: row wrap;
    align-content: space-around; } }
.form {
  width: 50%;
  text-align: start;
  margin: 0 auto; }
  .form__title {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
    margin-bottom: 16px;
    text-align: center; }
  .form__text {
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 8px;
    text-align: center; }
  .form__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto; }
  .form__input {
    margin-top: 8px;
    margin-bottom: 8px;
    height: 24px;
    background: transparent;
    border: none;
    border-bottom: 2px solid black; }
  .form__input:focus {
    background: transparent;
    outline: none;
    border-bottom: 2px solid black;
    font-size: 18px; }
  .form__label {
    display: flex;
    flex-direction: row;
    font-size: 20px; }
  .form__presence {
    margin-bottom: 18px; }
  .form__button {
    border-radius: 0;
    width: 350px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 18px;
    margin: 0 auto; }

label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-bottom: 12px;
  margin-left: 12px;
  vertical-align: middle;
  margin-top: 6px; }

.form__radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  bottom: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: #f8f6ea;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  z-index: 1000; }

.form__radio:hover {
  background: #9faab7; }

.form__radio:checked {
  background: #a98b71; }

.form__radio:checked::before {
  width: 20px;
  height: 20px;
  display: flex;
  content: '\f00c';
  font-weight: bold;
  position: absolute;
  align-items: center;
  justify-content: center; }

.form__radio:checked::after {
  content: '';
  display: block;
  position: relative;
  z-index: 100; }

@media (max-device-width: 767px) {
  .form {
    width: 80%;
    text-align: start;
    margin: 0 auto; }
    .form__title {
      font-size: 40px;
      margin-bottom: 16px;
      text-align: center; }
    .form__text {
      font-size: 24px;
      margin-bottom: 16px;
      margin-top: 8px;
      text-align: center; }
    .form__form {
      -webkit-appearance: none;
      display: flex;
      flex-direction: column;
      margin: 0 auto; }
    .form__input {
      margin-top: 8px;
      margin-bottom: 8px;
      height: 32px;
      background: transparent;
      border: none;
      border-bottom: 2px solid black;
      font-size: 32px;
      padding: 16px; }
    .form__input:focus {
      background: transparent;
      outline: none;
      border-bottom: 2px solid black;
      font-size: 32px;
      padding: 16px; }
    .form__label {
      display: flex;
      flex-direction: row;
      font-size: 32px; }
    .form__presence {
      margin-bottom: 18px; }
    .form__button {
      border-radius: 0;
      width: 80%;
      height: 50px;
      background-color: black;
      color: white;
      font-size: 18px;
      margin: 0 auto; }

  label {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    margin-bottom: 12px;
    margin-left: 12px;
    vertical-align: middle;
    margin-top: 6px; }

  .form__radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    bottom: 2px;
    left: 0;
    height: 30px;
    width: 30px;
    transition: all 0.15s ease-out 0s;
    background: #f8f6ea;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    z-index: 1000; }

  .form__radio:hover {
    background: #9faab7; }

  .form__radio:checked {
    background: #a98b71; }

  .form__radio:checked::before {
    width: 30px;
    height: 30px;
    display: flex;
    content: '\f00c';
    font-weight: bold;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-family: 'Font Awesome 5 Free'; }

  .form__radio:checked::after {
    content: '';
    display: block;
    position: relative;
    z-index: 100; } }
@media (max-device-width: 576px) {
  .form {
    width: 90%;
    text-align: start;
    margin: 0 auto; }
    .form__title {
      font-size: 3em;
      margin-bottom: 16px;
      text-align: center; }
    .form__text {
      font-size: 2.5em;
      margin-bottom: 16px;
      margin-top: 8px;
      text-align: center; }
    .form__form {
      display: flex;
      flex-direction: column;
      margin: 0 auto; }
    .form__input {
      margin-top: 8px;
      margin-bottom: 8px;
      height: 38px;
      background: transparent;
      border: none;
      border-bottom: 2px solid black;
      font-size: 32px;
      padding: 16px; }
    .form__input:focus {
      font-size: 32px;
      background: transparent;
      outline: none;
      border-bottom: 2px solid black;
      padding: 16px; }
    .form__label {
      display: flex;
      flex-direction: row;
      font-size: 2.5em;
      align-items: center; }
    .form__presence {
      margin-bottom: 18px; }
    .form__button {
      border-radius: 0;
      width: 80%;
      height: 70px;
      background-color: black;
      color: white;
      font-size: 2em;
      margin: 0 auto; }

  label {
    font-size: 2.5em; }

  .form__radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    bottom: 2px;
    left: 0;
    height: 5em;
    width: 5em;
    margin-right: 1em;
    transition: all 0.15s ease-out 0s;
    background: #f8f6ea;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    z-index: 1000; }

  .form__radio:hover {
    background: #9faab7; }

  .form__radio:checked {
    background: #a98b71; }

  .form__radio:checked::before {
    font-size: 50px;
    width: 1.4em;
    height: 1.4em;
    display: flex;
    content: '\f00c';
    font-weight: bold;
    position: absolute;
    align-items: center;
    justify-content: center; } }
.footer {
  padding-bottom: 75px;
  text-align: center; }
  .footer__text {
    font-size: 28px; }

@media (max-device-width: 767px) {
  .footer__text {
    font-size: 3em; } }
@media (max-device-width: 576px) {
  .footer__text {
    font-size: 4em; } }

/*# sourceMappingURL=styles.css.map */
