@charset "UTF-8";
html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-align: center; }

div, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  font-family: 'Sofia Sans', sans-serif; }

.fon {
  background-image: url(/assets-fon/193.jpg);
  background-size: cover;
  width: 100%;
  height: 100%; }

.fon:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.fon-2 {
  background-image: url(/assets-fon/4.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%; }

.fon-2:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

img {
  width: 150px; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.container-2 {
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7); }

section {
  text-align: center; }

hr {
  width: 250px;
  padding: 0;
  border: none;
  color: #333;
  text-align: center; }

hr:after {
  content: "☼";
  display: inline-block;
  position: relative;
  font-size: 1.5em;
  padding: 0 0.25em; }

.line {
  transform: rotate(45deg);
  text-align: center; }

.names {
  font-size: 25px;
  width: 100%;
  height: 100vh;
  position: relative;
  vertical-align: middle;
  text-align: center;
  color: white; }
  .names__container {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%); }
  .names__name {
    font-size: 65px;
    border-bottom: 1px solid white;
    font-family: 'Inter', sans-serif !important;
    font-family: 'Playfair', serif !important; }
  .names__date {
    font-size: 50px; }

.invitation__title {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  font-family: 'Sofia Sans', sans-serif;
  margin-bottom: 16px;
  padding-top: 45px; }
.invitation__description {
  margin-bottom: 1.5rem; }
.invitation__pic img {
  margin-bottom: 1.5rem; }
.invitation__calendar {
  font-size: 20px; }

table {
  width: 250px;
  margin: 0 auto; }

td {
  padding: 12px; }

.heart {
  width: 45px;
  position: absolute;
  left: -0.9px;
  top: -0.00001px; }
  .heart__td {
    position: relative; }

.place {
  padding: auto 0; }
  .place__title {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
    margin-bottom: 16px; }
  .place__map {
    text-align: center;
    width: 590px;
    margin: 0 auto; }
  .place__place {
    font-size: 18px; }

.program__title {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  font-family: 'Sofia Sans', sans-serif;
  margin-bottom: 1rem; }
.program__container {
  padding: 16px; }
.program__time {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 18px; }
.program__text {
  margin-bottom: 1rem;
  font-size: 20px; }

.color__title {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  font-family: 'Sofia Sans', sans-serif;
  margin-bottom: 16px; }
.color__colors {
  z-index: 10;
  display: flex;
  width: 450px;
  margin: 0 auto;
  justify-content: space-between; }

.square__one {
  background: #f8f6ea;
  width: 50px;
  height: 50px; }
.square__two {
  background-color: #e8e1cf;
  width: 50px;
  height: 50px; }
.square__three {
  background-color: #e4d9c3;
  width: 50px;
  height: 50px; }
.square__four {
  background-color: #dcc2a7;
  width: 50px;
  height: 50px; }
.square__five {
  background-color: #a98b71;
  width: 50px;
  height: 50px; }
.square__six {
  background-color: #a48f7c;
  width: 50px;
  height: 50px; }
.square__seven {
  background-color: #839089;
  width: 50px;
  height: 50px; }

.form {
  width: 400px;
  text-align: start;
  margin: 0 auto; }
  .form__title {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
    margin-bottom: 16px;
    text-align: center; }
  .form__text {
    font-size: 18px;
    margin-bottom: 16px;
    margin-top: 8px;
    text-align: center; }
  .form__form {
    display: flex;
    flex-direction: column; }
  .form__input {
    margin-top: 8px;
    margin-bottom: 8px;
    height: 24px;
    background: transparent;
    border: none;
    border-bottom: 2px solid black; }
  .form__input:focus {
    background: transparent;
    outline: none;
    border-bottom: 2px solid black;
    font-size: 18px; }
  .form__label {
    display: flex;
    flex-direction: row; }
  .form__presence {
    margin-bottom: 16px; }
  .form__button {
    border-radius: 0;
    width: 350px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 18px;
    margin: 0 auto; }

label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-bottom: 12px;
  margin-left: 12px;
  vertical-align: middle;
  margin-top: 6px; }

.form__radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  bottom: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: #f8f6ea;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  z-index: 1000; }

.form__radio:hover {
  background: #9faab7; }

.form__radio:checked {
  background: #a98b71; }

.form__radio:checked::before {
  width: 20px;
  height: 20px;
  display: flex;
  content: '\f00c';
  font-weight: bold;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-family: 'Font Awesome 5 Free'; }

.form__radio:checked::after {
  content: '';
  display: block;
  position: relative;
  z-index: 100; }

.footer {
  padding-bottom: 75px;
  text-align: center; }
  .footer__text {
    font-size: 28px; }

/*# sourceMappingURL=styles.css.map */
